<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{>header}}

    <br />
    <p>Have you tried {{suggestion}}?</p>
    {{>footer}}
</body>

</html>